@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html, body, #captionary {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #666;
  background-color: #eee;
  margin: 0;
  padding: 0;
}

#captionary {
  display: flex;
  flex-direction: column;
}